tox
pyunpack>=0.1.2
patool>=1.12
timeout-decorator>=0.5.0
matplotlib>=2.2.2
cairocffi>=0.9.0
pkgconfig>=1.4.0
setuptools>=39.1.0
scipy>=1.1.0
numpy>=1.15.4
# torch==1.13.1 # installing with conda now
shapely>=1.7.0
